{% extends "main/base.html" %}

{% block title %}
Delete Todo {{ block.super }}
{% endblock title %}

{% block main_content %}
<div class="card">
  <h4 class="card-header">Delete {{ todo.title }} Todo</h4>
  <div class="card-body">
    <h4 class="card-title">Are you sure you want to delete this todo</h4>
    <p class="card-text">Deleted todos cannot be returned.</p>
    <form method="POST" action="{% url 'todo_delete' pk=todo.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete</button>
      <a href="{% url 'todo_detail' pk=todo.pk %}" class="btn btn-success">Cancel</a>
    </form>
  </div>
</div>
{% endblock main_content %}
